@import '../../../style/variables';

@import '../../../style/mixin';

.parallax {
  position: relative;
  width: 100%;
  height: 120vh;
  margin: 8rem 0;
  @include flex(stretch, flex-start, column);

  & figure {
    position: absolute;
    height: 45%;
    width: 50%;
  }

  & hgroup {
    margin: 0 8rem 4rem 8rem;
  }

  & hgroup * {
    margin: 2rem 0;
  }

  & h2 {
    font-size: 5rem;
    line-height: 5rem;
  }

  & p {
    color: $color-text;
    width: 40%;
  }
}

.parallaxHolder {
  position: relative;
  height: 100%;

  & img {
    position: absolute;
    max-height: 300%;
    max-width: 300%;
    height: 250%;
    width: 100%;
  }
}

.parLeft {
  background-color: rosybrown;
  left: 45%;
  top: 55%;
}

.parRight {
  background-color: rebeccapurple;
  right: 45%;
}

@media only screen and (max-width: 768px) {
  .parallax {
    height: 100vh;

    & hgroup {
      margin: 0 4rem 4rem 4rem;
    }

    & h2 {
      font-size: 3rem;
    }

    & p {
      width: 60%;
    }

    & figure {
      height: 40%;
    }
  }
}

@media only screen and (max-width: 450px) {
  .parallax {
    margin: 4rem 0;

    & p {
      width: 100%;
    }

    & .parLeft {
      top: 65%;
    }

    & img {
      height: 220%;
    }

    & figure {
      height: 30%;
    }
  }
}
