@import '../../../style/variables';

@import '../../../style/mixin';

.active {
  color: $color-primary;
}

.searchBar {
  @include flex(stretch, space-around, row);
  padding: 10rem 8rem;
  height: 100%;
}

.searchBarForm {
  @include flex(stretch, space-evenly, column);
  width: 70%;
}

.searchBarSortOptions {
  width: 30%;
  @include flex(center, center, row);

  & ul {
    @include flex(center, flex-start, column);
  }

  & li {
    text-shadow: 1px 1px 1px rgba(77, 77, 77, 0.5);
    border-bottom: 1px solid;
    font-size: 1.8rem;
    padding: 0 2rem;
    margin: 3rem 0;
    cursor: pointer;
    @include transition(all, 0.8s, 0s);
  }

  & li:hover {
    @include transform-scale(1.1);
  }
}

.searchBarInput {
  @include flex(baseline, center, column);
  z-index: 400;

  & input {
    width: 55%;
  }
}

.searchBarSubmit {
  padding-top: 0;
  @include transition(all, 0.8s, 0s);

  & input {
    margin-top: 0;
  }
}

.myButton {
  padding: 1rem 3rem;
}

.clearButton {
  padding: 1rem 3.8rem;
  margin: 0 4rem;
}

.alertHolder {
  height: 3rem;
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  .searchBar h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .searchBarInput input {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .searchBar {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 4rem 6rem;
  }

  .searchBarSortOptions {
    width: 100%;

    & ul {
      flex-direction: row;
    }

    & li:hover {
      @include transform-scale(1);
    }
  }

  .searchBarForm {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .searchBar {
    padding: 4rem;

    & ul {
      display: none;
    }
  }

  .searchBarSortOptions li {
    text-align: center;
  }

  .searchBarInput input {
    width: 100%;
  }

  .myButton {
    width: 100%;
  }

  .clearButton {
    width: 100%;
    margin: 0;
  }

  .alert-empty {
    flex-direction: column;
    padding: 2rem 0;
  }
}
