@import '../../../style/variables';
@import '../../../style/global';
@import '../../../style/mixin';

.restaurantSliders h2 {
  font-size: 3rem;
  border-bottom: 1px solid $color-primary;
  text-align: left;
}

.restaurantSliders {
  margin: 8rem 4rem;

  &:nth-child(4) {
    padding-bottom: 8rem;
  }

  & header {
    height: 20%;
  }
}



@media only screen and (max-width: 450px) {
  .restaurantSliders {
    margin: 8rem 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .restaurantSliders {
    margin: 8rem 2rem;

    & h2 {
      font-size: 2.5rem;
      top: 10%;
    }
  }
}
