@import '../../../style/variables';
@import '../../../style/global';
@import '../../../style/mixin';

.restaurant-list-container {
  margin: 8rem 4rem;
}

.restaurant-list-container h2 {
  font-size: 3rem;
  border-bottom: 1px solid $color-primary;
}

.restaurant-list {
  @include flex(stretch, space-around, row);
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .restaurant-list-container {
    margin: 6rem 0.5rem;
  }
}
