@import '../../../style/variables';
@import '../../../style/global';
@import '../../../style/mixin';

.restaurantListContainer {
  margin: 8rem 4rem;
}

.restaurantListContainer h2 {
  font-size: 3rem;
  border-bottom: 1px solid $color-primary;
}

.restaurantList {
  @include flex(stretch, space-around, row);
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .restaurantListContainer {
    margin: 6rem 0.5rem;
  }
}
