@import '../../../style/variables';
@import '../../../style/global';
@import '../../../style/mixin';

.card {
  @include flex(stretch, flex-start, column);
  width: 22rem;
  min-height: 35rem;
  min-width: 25rem;
  padding-bottom: 2rem;
  margin: 2rem;
  position: relative;
  @include border-radius(1rem);
  z-index: 1;

  & a {
    color: $color-text;
    width: 100%;
  }

  & a:hover {
    color: $color-text;
  }

  & a:visited {
    color: $color-text;
  }

  & a:active {
    color: $color-text;
  }
}

.cardFront {
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  bottom: 0;
  @include transition(all, 1s, 0.2s);
  @include border-radius(1rem);
  @include box-shadow(0, 4px, 8px, 0);

  &:hover {
    bottom: 1rem;
    @include box-shadow(10px, 10px, 10px, 10px);
  }

  &:hover .cardImage {
    @include transform-scale(1.1);
  }
}

.cardImageHolder {
  height: 50%;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cardImage {
  background-size: cover;
  height: 100%;
  width: 100%;
  @include transition(all, 1s, 0.2s);
}

.cardText {
  height: 50%;
  padding: 0 2rem 2rem 2rem;

  & h3 {
    padding: 1rem 0;
  }

  & * {
    color: $color-text;
    margin: auto 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media only screen and (max-width: 900px) {
  cardFront {
    transition: none;

    &:hover {
      bottom: 0;
      @include box-shadow(0, 4px, 8px, 0);
    }

    &:hover .cardImage {
      @include transform-scale(1);
    }
  }

  .cardImage {
    transition: none;
  }
}

@media only screen and (max-width: 450px) {
  .cardImageHolder {
    width: 100%;
  }
}
