@import '../../../style/variables';

@import '../../../style/mixin';

.mainHome {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../../Images/adils-photography-gmo6Ok9G0U8-unsplash.jpg');

  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 95vh;
}

@media screen and (max-width: 1024px) and (max-height: 454px)  {
  .mainHome {
    height: 140vh;
  }
}

@media only screen and (max-width: 450px) {
  .mainHome {
    height: 80vh;
  }
}
