@import '../../../style/variables';
@import '../../../style/global';

.alert-holder {
  height: 3rem;
}

.alert-text {
  color: $alert;
  font-weight: 700;
  font-size: 120%;
}

@media only screen and (max-width: 450px) {
  .alert-empty {
    flex-direction: column;
    padding: 2rem 0;
  }
}
