@import url('https://fonts.googleapis.com/css?family=Roboto');

/**********************************************************************************
*********************************** Global styles**********************************
***********************************************************************************/

$color-primary: #fad222;
$color-text: rgba(44, 44, 44, 0.9);
$color-btn-background: #d6b41d;
$color-light: rgb(243, 243, 243);
$color-dark: rgb(31, 31, 31);
$alert: rgb(255, 20, 20);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: $color-light;
  color: $color-primary;
}

@mixin border-radius($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  -o-border-radius: $size;
}

@mixin transform-scale($scale) {
  transform: scale($scale);
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
}

@mixin box-shadow($one, $two, $three, $four) {
  -webkit-box-shadow: $one $two $three $four rgba(0, 0, 0, 0.2);
  -moz-box-shadow: $one $two $three $four rgba(0, 0, 0, 0.2);
  box-shadow: $one $two $three $four rgba(0, 0, 0, 0.2);
}

@mixin transition($select, $time, $delay) {
  transition: $select $time ease $delay;
  -webkit-transition: $select $time ease $delay;
  -moz-transition: $select $time ease $delay;
  -ms-transition: $select $time ease $delay;
  -o-transition: $select $time ease $delay;
}

@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

/**********************************************************************************
************************************** resuable ***********************************
***********************************************************************************/

.active {
  color: $color-primary;
}

.spinner {
  position: absolute;
  display: block;
  margin: -1.5rem;
  width: 3rem;
  top: 50%;
  left: 50%;
}

h1 {
  color: $color-primary;
  font-size: 5.5rem;
  line-height: 5rem;
  text-shadow: 1px 1px 1px rgba(77, 77, 77, 0.5);
}

h2 {
  color: $color-text;
  margin: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: $color-text;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: $color-light;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input {
  padding: 1rem;
  font-size: 1.5rem;
  margin: 2rem 0;
  border: solid 1px $color-dark;
  @include border-radius(0.3rem);
}

.button {
  font-size: 100%;
  font-family: inherit;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  cursor: pointer;
  color: $color-text;
  text-decoration: none;
  @include transition(all, 0.8s, 0s);
  @include box-shadow(0, 1px, 0, 0);
  @include border-radius(0.3rem);
}

.button:hover {
  background-color: $color-btn-background;
}

/**********************************************************************************
**************************************  alert *************************************
***********************************************************************************/

.alert-holder {
  height: 3rem;
}

.alert-text {
  color: $alert;
  font-weight: 700;
  font-size: 120%;
}

/**********************************************************************************
************************************** navbar * ***********************************
***********************************************************************************/

nav {
  @include flex(center, space-between, row);
  position: fixed;
  padding: 0.7rem 2rem;
  width: 100%;
  height: 6rem;
  z-index: 999;
  @include transition(top, 1s, 0s);

  & p {
    font-size: 2.5rem;
  }

  & ul {
    display: flex;
  }

  & a {
    color: $color-light;
    font-size: 2rem;
    margin: 0 3rem;
  }
}

.nav-small-icon {
  display: none;
}

.sticky {
  position: absolute;

  & p {
    color: $color-primary;
  }
}

.fixed {
  top: -400px;
  background-color: $color-primary;
  @include box-shadow(0, 4px, 8px, 0);

  & p {
    color: $color-light;
  }
}

.hide {
  top: -400px;
}

.show {
  top: 0;
}

.nav-info {
  background-color: $color-primary;
  position: relative;

  & * {
    color: $color-light;
  }
}

.logo-small {
  display: none;
}

/**********************************************************************************
************************************** search bar ***********************************
***********************************************************************************/

.nav-home li:first-child a {
  color: $color-primary;
}

.nav-home .fa-home {
  color: $color-primary;
}

.main-home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./Images/adils-photography-gmo6Ok9G0U8-unsplash.jpg');
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 95vh;
}

.searchBar {
  @include flex(stretch, space-around, row);
  padding: 10rem 8rem;
  height: 100%;
}

.searchBar-form {
  @include flex(stretch, space-evenly, column);
  width: 70%;
}

.searchBar-sort-options {
  width: 30%;
  @include flex(center, center, row);

  & ul {
    @include flex(center, flex-start, column);
  }

  & li {
    text-shadow: 1px 1px 1px rgba(77, 77, 77, 0.5);
    border-bottom: 1px solid;
    font-size: 1.8rem;
    padding: 0 2rem;
    margin: 3rem 0;
    cursor: pointer;
    @include transition(all, 0.8s, 0s);
  }

  & li:hover {
    @include transform-scale(1.1);
  }
}

.searchBar-input {
  @include flex(baseline, center, column);
  z-index: 400;

  & input {
    width: 50%;
  }
}

.searchBar-submit {
  padding-top: 0;
  @include transition(all, 0.8s, 0s);

  & input {
    margin-top: 0;
  }
}

.myButton {
  padding: 1rem 3rem;
}

.clearButton {
  padding: 1rem 3.8rem;
  margin: 0 4rem;
}

/**********************************************************************************
**************************************display restaurants**************************
***********************************************************************************/

.restaurant-list-container {
  margin: 8rem 4rem;
}

.restaurant-list-container h2,
.restaurant-sliders h2 {
  font-size: 3rem;
  border-bottom: 1px solid $color-primary;
}

.restaurant-list {
  @include flex(stretch, space-around, row);
  flex-wrap: wrap;
}

/**********************************************************************************
************************************** restaurant card *****************************
***********************************************************************************/

.card {
  @include flex(stretch, flex-start, column);
  width: 22rem;
  min-height: 35rem;
  min-width: 25rem;
  padding-bottom: 2rem;
  margin: 2rem;
  position: relative;
  @include border-radius(1rem);
  z-index: 1;

  & a {
    color: $color-text;
    width: 100%;
  }

  & a:hover {
    color: $color-text;
  }

  & a:visited {
    color: $color-text;
  }

  & a:active {
    color: $color-text;
  }
}

.card-front {
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  bottom: 0;
  @include transition(all, 1s, 0.2s);
  @include border-radius(1rem);
  @include box-shadow(0, 4px, 8px, 0);

  &:hover {
    bottom: 1rem;
    @include box-shadow(10px, 10px, 10px, 10px);
  }

  &:hover .card-image {
    @include transform-scale(1.1);
  }
}

.card-image-holder {
  height: 50%;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-image {
  background-size: cover;
  height: 100%;
  width: 100%;
  @include transition(all, 1s, 0.2s);
}

.card-text {
  height: 50%;
  padding: 0 2rem 2rem 2rem;

  & h3 {
    padding: 1rem 0;
  }

  & * {
    color: $color-text;
    margin: auto 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/**********************************************************************************
************************************** about page   *******************************
***********************************************************************************/

.nav-about {
  & li:nth-child(2) a {
    color: $color-primary;
  }

  & .fa-info-circle {
    color: $color-primary;
  }
}

.about-container h2 {
  font-size: 3.5rem;
  text-align: center;
}

.about {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./Images/jay-wennington-N_Y88TWmGwA-unsplash.jpg') no-repeat center
      center fixed;
  background-size: 100% 100%;
  padding: 4rem 0;
}

.aboutText {
  position: absolute;
  top: 40rem;
  left: 4rem;
  @include flex(stretch, flex-start, column);
}

.who,
.values {
  padding: 8rem 14rem;
}

.goal {
  padding: 8rem 0;
  margin: 0 14rem;

  & img {
    height: 60rem;
    width: 100%;
    @include border-radius(1rem);
  }

  & h3 {
    font-size: 3rem;
  }

  & p {
    font-size: 2rem;
    color: $color-text;
  }

  & figcaption {
    padding: 2rem 1rem;
  }
}

.goal-carousel .react-multiple-carousel__arrow {
  top: 35%;
}

.who {
  background-color: #fad22220;
  display: grid;
  align-items: center;
  grid-gap: 0.5rem;
  grid-template-areas:
    'header header header header'
    'one one two two'
    'three four five six';

  & figure {
    overflow: hidden;
    @include transition(all, 1s, 0s);
  }

  & img {
    min-width: 100%;
    min-height: 100%;
    @include transition(all, 1s, 0s);
  }

  & img:hover {
    @include transform-scale(1.1);
  }

  & p {
    margin: 4rem 0;
    font-size: 2rem;
    text-align: center;
    color: $color-text;
  }
}

.who-text {
  grid-area: header;
}

.one,
.two {
  height: 25rem;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three,
.four,
.five,
.six {
  height: 20rem;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.about h2 {
  margin-top: 0;
}

.values p {
  color: $color-text;
}

.value {
  text-align: center;
  margin: 3rem;

  & i {
    font-size: 7rem;
  }

  & h3 {
    padding: 2rem 0 1rem 0;
  }
}

.values-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/**********************************************************************************
************************************restaurant info********************************
***********************************************************************************/

.backButton {
  margin: 4rem 0;
  padding: 1rem 3rem;
  display: inline-block;
}

.restaurant-display {
  margin: 4rem 8rem;
  display: flex;

  & * {
    color: $color-text;
  }

  & ul {
    display: flex;
  }

  & li {
    display: flex;
    width: 33.3%;
  }
}

.restaurant-display-info {
  margin-bottom: 2rem;

  & h2 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
  }

  & div {
    display: flex;
  }
}

.restaurant-display-right {
  width: 70%;
}

.restaurant-display-left {
  width: 30%;
  height: 100%;
  @include flex(stretch, flex-end, row);

  & figure {
    width: 30rem;
  }

  & figcaption {
    @include flex(stretch, center, column);
    padding: 2rem;
  }
}

.restaurant-img {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  height: 45rem;

  & img {
    @include border-radius(1rem);
    height: 100%;
    width: 100%;
  }
}

#first {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

aside figure {
  margin-top: 12rem;
  @include border-radius(1rem);
  @include box-shadow(5px, 5px, 5px, 5px);
}

.map-holder {
  height: 30rem;
  width: 30rem;

  & div :first-child {
    @include border-radius(1rem);
  }

  & i {
    font-size: 3.5rem;
    color: $color-primary;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.restaurant-reviews {
  flex-direction: column;
  padding: 4rem 0;

  & h3 {
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 4rem;
  }
}

.review-user {
  @include flex(center, flex-start, row);
  padding: 4rem 0 2rem 0;

  & img {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    @include border-radius(50rem);
  }
}

.review-text {
  border-bottom: 1px solid $color-primary;
  padding-bottom: 4rem;
}

/**********************************************************************************
************************************default restaurants****************************
***********************************************************************************/

.restaurant-sliders {
  margin: 8rem 4rem;

  &:nth-child(4) {
    padding-bottom: 8rem;
  }

  & header {
    height: 20%;
  }
}

.restaurant .react-multi-carousel-list {
  padding: 2rem 0;
  @include box-shadow(0, 0, 10px, 0);
}

.react-multi-carousel-item {
  @include flex(stretch, center, row);
}

.react-multiple-carousel__arrow--right {
  z-index: 900 !important;
  right: 0;
}
.react-multiple-carousel__arrow--left {
  z-index: 900 !important;
  left: 0;
}

h3,
.slide-card-details p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide-card-details p {
  margin: 0 1rem;
  color: $color-text;
}

.slider-endimage {
  height: 50rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./Images/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg')
      no-repeat center center;
  background-size: 100% 100%;
  position: relative;
  margin-top: 4rem;

  & h2 {
    color: $color-primary;
    display: inline-block;
    width: 60%;
    position: absolute;
    font-size: 5.4rem;
    top: 20%;
    left: 7%;
    border: none;
  }
}

/**********************************************************************************
************************************** footer ***********************************
***********************************************************************************/

footer {
  background-color: $color-dark;
  position: relative;
  @include flex(stretch, center, column);
  padding: 6rem 0;
}

footer a,
.newsletter h3,
small {
  color: $color-light;
}

.newsletter {
  padding: 4rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include flex(center, center, row);

  & i {
    font-size: 3rem;
  }

  & legend {
    text-align: center;
  }

  & legend * {
    padding: 1rem;
  }

  & form div {
    height: 5rem;
  }
}

.form-text input {
  margin: 1rem;
}

.news-btn {
  padding: 1rem;
  font-size: 1.5rem;
}

.footer-items {
  padding: 4rem 5rem;
}

.top-list {
  @include flex(stretch, space-around, row);
  width: 100%;
  font-weight: 600;

  & li {
    text-align: center;
    width: 16.6%;
  }
}

.footer-logo {
  display: flex;
  width: 50%;
  color: $color-primary;
}

.fa-pizza-slice {
  padding-top: 0.5rem;
}

.nested-list li {
  padding-top: 1rem;
  font-weight: 400;
  width: 100%;
  opacity: 0.8;
}

small {
  font-size: 1rem;
  display: block;
  background-color: $color-dark;
  padding: 0 0 1rem 2rem;
  position: absolute;
  bottom: 0;
}

/**********************************************************************************
************************************** media queries ******************************
***********************************************************************************/

@media only screen and (max-width: 1124px) {
  .restaurant-display {
    margin: 4rem;
  }

  .restaurant-display-right {
    width: 60%;
  }

  .restaurant-display-left {
    width: 40%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  nav {
    height: 4rem;
  }

  .fixed {
    display: none;
  }

  .searchBar h1 {
    font-size: 4rem;
  }

  .searchBar * {
    font-size: 90%;
  }

  .aboutText {
    top: 45rem;
  }
}

@media only screen and (orientation: portrait) and (max-width: 1024px) and (min-width: 648px) {
  .restaurant-display {
    flex-direction: column;
  }

  .restaurant-img {
    height: 25rem;
  }

  .restaurant-display-info {
    font-size: 130%;

    & h2 {
      font-size: 5rem;
    }
  }

  .restaurant-display-right,
  .restaurant-display-left {
    width: 100%;
  }

  .restaurant-display-left {
    justify-content: center;

    & figure {
      margin: 4rem;
    }
  }

  .backButton {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 9px;
  }

  .searchBar-input input {
    width: 70%;
  }

  .slider-endimage h2 {
    font-size: 4rem;
  }

  .who,
  .values {
    padding: 8rem 12rem;
  }

  .goal {
    margin: 0 12rem;

    & img {
      height: auto;
    }
  }

  .who img:hover {
    transition: none;
    @include transform-scale(1);
  }

  card-front {
    transition: none;

    &:hover {
      bottom: 0;
      @include box-shadow(0, 4px, 8px, 0);
    }

    &:hover .card-image {
      @include transform-scale(1);
    }
  }

  .card-image {
    transition: none;
  }

  .restaurant-display-left figure {
    width: 27rem;
  }

  .map-holder {
    height: 27rem;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    margin: 1rem 0;
  }

  .fixed {
    display: none;
  }

  input {
    font-size: 2rem;
  }

  .searchBar {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 4rem 6rem;
  }

  .searchBar-sort-options {
    width: 100%;

    & ul {
      flex-direction: row;
    }

    & li:hover {
      @include transform-scale(1);
    }
  }

  .searchBar-form {
    width: 100%;
  }

  .restaurant-list-container {
    margin: 6rem 0.5rem;
  }

  .newsletter {
    padding: 2rem 0;

    & form {
      width: 70%;
      @include flex(stretch, center, column);
    }
  }

  .footer-items {
    padding: 4rem 2rem;
  }

  /*about page*/

  .about-container {
    & h2 {
      font-size: 3rem;
      margin: 0 0 2rem 0;
    }

    & p {
      font-size: 1.9rem;
      margin: 0 0 2rem 0;
    }
  }

  .sticky p {
    margin-bottom: 0;
  }

  .about {
    background-size: cover;
    height: 60rem;
  }

  .aboutText {
    top: 35rem;
  }

  .who,
  .values {
    padding: 8rem;
  }

  .goal {
    margin: 0 8rem;

    & figcaption {
      padding: 1rem;
    }
  }

  .who {
    grid-template-areas:
      'header header'
      'one one'
      'three four'
      'two two'
      'five six';
  }

  .values-grid {
    grid-template-columns: 1fr 1fr;
  }

  /* rest info */

  .restaurant-img {
    height: 35rem;
  }
}

@media only screen and (max-width: 680px) {
  footer {
    padding: 4rem 0;
  }

  .top-list {
    & :nth-child(3) {
      display: none;
    }

    & > li {
      width: 33.3%;
      text-align: center;
    }
  }

  .footer-logo {
    justify-content: center;
  }

  .restaurant-display {
    flex-direction: column;
  }

  .restaurant-reviews {
    padding-bottom: 0;
  }

  .restaurant-display-right {
    width: 100%;
  }

  .restaurant-display-left {
    width: 100%;
    @include flex(center, center, row);
    margin: 4rem 0;

    & figure {
      margin: 0;
      width: 45vh;
    }
  }

  #first {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 3.7rem;
    text-align: center;
  }

  nav {
    & i {
      font-size: 2.5rem;
      margin: 0 0.5rem;
    }

    & a {
      margin: 0 0 0 2rem;
    }
  }

  .nav-big-icon {
    display: none;
  }

  .nav-small-icon {
    display: flex;
  }

  .main-home {
    height: 80vh;
  }

  .logo-big {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .searchBar {
    padding: 4rem;

    & ul {
      display: none;
    }
  }

  .searchBar-sort-options li {
    text-align: center;
  }

  .searchBar-input input {
    width: 100%;
  }

  .myButton {
    width: 100%;
  }

  .clearButton {
    width: 100%;
    margin: 0;
  }

  .card-image-holder {
    width: 100%;
  }

  .restaurant-sliders {
    margin: 8rem 2rem;

    & h2 {
      font-size: 3.5rem;
    }
  }

  .footer-logo {
    display: none;
  }

  .top-list > li {
    width: 50%;
  }

  /* about page */

  .about-container * {
    text-align: center;
  }

  .aboutText * {
    text-align: left;
  }

  .who,
  .values {
    padding: 8rem 4rem;
  }

  .who {
    grid-template-areas:
      'header'
      'one'
      'four'
      'two'
      'six';
  }

  .three,
  .five {
    display: none;
  }

  .one,
  .two,
  .four,
  .six {
    height: 30rem;
  }

  .goal {
    margin: 0 2rem;

    & p {
      font-size: 1.5rem;
    }

    & figure {
      border: 1px solid rgba(50, 50, 50, 0.15);
      @include border-radius(1rem);
    }
  }

  .values-grid {
    grid-template-columns: 1fr;
  }

  .backButton {
    display: block;
  }

  .alert-empty {
    flex-direction: column;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 350px) {
  nav i {
    font-size: 2.5rem;
  }

  .restaurant-sliders {
    margin: 8rem 2rem;

    & h2 {
      font-size: 2.5rem;
      top: 10%;
    }
  }

  .slider-endimage h2 {
    position: relative;
  }

  .goal figure img {
    height: 50%;
  }
}
