@import './style/mixin';
@import './style/variables';
@import './style/global';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 10px;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: $color-light;
  color: $color-primary;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 768px) {
  
  h1 {
    margin: 1rem 0;
  }

  input {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 3.7rem;
    text-align: center;
  }
}
